/****** General ******/
html,
body,
a {
  color: black;
}
a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
/****** Explore ******/
#accordion .card {
  border-radius: 0 !important;
  border: none;
}

#accordion .card-header {
  padding: 0;
}
#accordion .card-header .btn {
  text-decoration: none;
  color: #004085;
}

#accordion .card-body {
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 160px;
}

/***** SideDrawer SideBar -no more*
.sidebar {
  position: absolute;
  right: -200px;
  height: 100%;
  width: 200px;
  transition: right 0.3s ease-in-out;
  background-color: lightblue;
}

.sidebar-toggle {
  position: absolute;
  left: -20px;
  height: 24px;
  width: 24px;
  z-index: 1;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: right 0.3s ease-in-out;
  background-color: transparent;
}

.sidebar.open {
  right: 0;
}

.content.open {
  right: 200px;
}****/

/****** Shop  ******/
.card {
  border-radius: 1rem !important;
}
.card:hover {
  cursor: pointer;
}
.card-img-top {
  border-radius: 1rem 1rem 0 0 !important;
}
.card-body {
  padding: 1rem !important;
  color: black;
}
.card-body h4 {
  font-weight: 500 !important;
  margin-top: 0 !important;
  border-radius: 0 0 1rem 1rem !important;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.course-detail table tbody tr th {
  background-color: #fff9f8;
}

/****** Product ******/

.product-img-wrapper {
  margin: -15px -15px 0;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-price {
  margin-bottom: 0;
}

/****** Admin ******/

.industry-track .list-group-item {
  padding: 0.75rem 1rem;
}
.industry-track .list-group-item:hover {
  cursor: pointer;
}

/****** Graph ****** i think no more for this too***/
div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

svg g:hover {
  cursor: pointer;
}

svg g:not(hover) {
  cursor: initial;
}
